@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Bowlby+One+SC');

body {
  background: #fff url(../img/bg1.png) no-repeat center center;
  background-size: contain;
  font-size: 1.6rem;
  color: #23ff32;
  font-family: 'Baloo Tammudu', cursive;
  overflow-x: hidden;
  overflow-y: visible;
  /*font-family: 'Bowlby One SC', cursive;*/
}

.frame {
  padding: 0 2rem;
  height: 280vh;
  border: #23ff32 1em solid;
  width: 100%;
  overflow: hidden;
}

p {
  margin: 14em 0;
  display: none;
}

a {
  color: #23ff32;
}



.rellax {
  font-size: 3rem;
  position: absolute;
}

.va {
  top: 22vh;
  left: 25%;
}

.vb {
  top: 115vh;
  left: 29%;
}

.vc {
  top: 117vh;
  left: 50%;
  font-size: 1em;
}

.vd {
  top: 235vh;
  left: 32%;
}

.vd > a {
  color: #000;
}
.vd > a:hover {
  color: #23ff32;
}

.dashbar {
  z-index: -1;
  height: 180px;
  width: 97%;
  background: transparent url(../img/the-dash.png) repeat center top;
}

.dashbar > span {
  display: block;
  text-indent: -9999em;
  height: 0;
}

.big-3 {
  top: 45vh;
  left: 1%;
}
.triad-all {
  top: 170vh;
  left: 50%;
  margin-left: -231px;
  padding-bottom: 2em;
}
.b-3 {
  top: 140vh;
  left: 24%;
}
.m-3 {
  top: 155vh;
  left: 24%;
}
.t-3 {
  top: 175vh;
  left: 24%;
}
.dash-main {
  top: 25vh;
  left: 50%;
  margin-left: -25%;
}
.rotated-3 {
  top: 140vh;
  left: 80%;
  z-index: -1
}
.d-money {
  top: 80vh;
  left: 23%;
}
.the-b {
  top: 110vh;
  left: 16%;
  z-index: 1
}
.the-d {
  top: 90vh;
  left: 56%;
}
.dashbar {
  top: 215vh;
  left: 0;
}

@media screen and (min-width: 960px) {

  .frame {
    padding: 0 4rem;
    height: 460vh;
  }

  .rellax {
    font-size: 4rem;
    position: absolute;
  }

  .va {
    top: 44vh;
    left: 25%;
  }

  .vb {
    top: 230vh;
    left: 29%;
  }

  .vc {
    top: 233vh;
    left: 50%;
    font-size: 1em;
  }

  .vd {
    top: 270vh;
    left: 32%;
  }

  .vd > a {
    color: #000;
  }
  .vd > a:hover {
    color: #23ff32;
  }

  .dashbar {
    z-index: -1;
    height: 180px;
    width: 97%;
    background: transparent url(../img/the-dash.png) repeat center top;
  }

  .dashbar > span {
    display: block;
    text-indent: -9999em;
    height: 0;
  }

  .big-3 {
    top: 110vh;
    left: 30%;
  }
  .triad-all {
    top: 300vh;
    left: 50%;
    margin-left: -231px;
    padding-bottom: 4em;
  }
  .b-3 {
    top: 220vh;
    left: 44%;
  }
  .m-3 {
    top: 270vh;
    left: 44%;
  }
  .t-3 {
    top: 340vh;
    left: 44%;
  }
  .dash-main {
    top: 55vh;
    left: 50%;
    margin-left: -25%;
  }
  .rotated-3 {
    top: 320vh;
    left: -4%;
    z-index: -1
  }
  .d-money {
    top: 179vh;
    left: 23%;
  }
  .the-b {
    top: 220vh;
    left: 16%;
    z-index: 1
  }
  .the-d {
    top: 180vh;
    left: 56%;
  }
  .dashbar {
    top: 272vh;
    left: 0;
  }

}